<div>
    <a href="/dashboard">
    <span style="width: 25%;">@if (this.ref == 'you') {<span><b style="color: #E14B7A;">You</b></span>}
    @else {<span style="color: #45E5C1;">You</span>}
    </span>
    </a>
        <span style="width:50px"></span>

    <a href="/map">
          <span style="width: 25%;">@if (this.ref == 'map') {<span><b style="color: #E14B7A;">Map</b></span>}
    @else {<span style="color: #45E5C1;">Map</span>}
    </span>
</a>
        <span style="width:50px"></span>

 <a href="/data">
  <span style="width: 25%;">@if (this.ref == 'data') {<span><b style="color: #E14B7A;">Data</b></span>}
    @else {<span style="color: #45E5C1;">Data</span>}
        </span>
</a>
        <span style="width:50px"></span>

 <a href="/events">
  <span style="width: 25%;">@if (this.ref == 'events') {<span><b style="color: #E14B7A;">Events</b></span>}
    @else {<span style="color: #45E5C1;">Events</span>}
    </span>
    </a>
</div>
